@import "tailwindcss";


/* Add this to your globals.css file */
html, body {
  background-color: rgb(17 24 39); /* gray-900 */
  overflow-x: hidden;
}

/* For login and register pages specifically */
.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.main-content {
  padding-top: 4rem; /* 64px to account for h-16 header */
}


